table, td, th {
  border: 1px solid #000;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 5px;
}
table {
  margin-bottom: 25px;
  cursor: pointer;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
